/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
 
html {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #46afff; /* Old Browsers */
    background: -webkit-linear-gradient(top,#46afff,#9ed4ff); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#46afff,#9ed4ff); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#46afff,#9ed4ff); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #46afff, #9ed4ff); /*Standard*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.loop {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

body a {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

nav a {
    color: blanchedalmond;
}

a:hover {
    font-weight: normal;
}

header {
  text-align: center;
  display: block;
 } 


#watch,#listen,#about,footer {
 
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

footer {
    font-size: 75%;
}

footer a {
    color: black;
}

 h1, p.subtitle {
    margin: 0;
 }

section#about p.lead, div.about-text{
  background-color: LightSkyBlue;
  display: inline-block;
  text-align: center;
  padding: 20px;
}

 #social {
     background-color: rgba(255,255,255,0.5);
     position: fixed;
     top: 50px;
     right: 0;
     width: 25px;
     transition: 2s width;
 }

/* body h2 {
    text-align: center;
} */

#social h2 {
    padding-left: 30px;
}



#social:hover {
    width: 225px;
}

 #social ul {
     padding: 0;
     list-style-type: none;
 }

 #social li {
     padding: 0;
     margin: 0;
 }

nav li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
}

/*  .top-nav {
    position: absolute;
    top: 5px;
    left: 275px;
    font-size: 1.2em;
    z-index: 1;
    
} */
ul.top-nav{
    padding-right: 30px;
} 
.weybec-people li img {
    border-radius: 65%;
    width: 175px;
    height: auto;
}

.weybec-people li {
    display: inline-block;
    text-align: center;
    padding: 30px
}

.social-text {
    padding-left: 30px;
}

.bot-nav {
  text-align: center;
  font-size: 1.3em;
  word-spacing: 1em;
  padding-bottom: 15px;
}
