/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
    padding: 0;
}

body {
    margin: 0;
    padding: 10px;
    font-family:"verdana";
}

body a {
    text-decoration: none;
    font-weight: bold;
}

body a:hover {
    font-weight: normal;
}

header {
     min-height: 400px;
     background-image: url(../img/monkaa_title.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }

 #social {
     background-color: pink;
     position: absolute;
     top: 50px;
     right: 0;
     width: 25px;
     transition: 2s width;
 }

#social:hover {
    width: 250px;
}

 #social ul {
     padding: 0;
     list-style-type: none;
 }

 #social li {
     padding: 0;
     margin: 0;
 }